.Listings {
  max-height: 70vh;
  overflow: scroll;
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .Listings {
    max-height: 100vh;
  }
}

.Listing {
  display: flex;
  flex-direction: column;
}

.Listing-Image {
  align-self: center; /* To keep aspect ratio. */
}
